<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">
        <a class="nav-link text-dark" aria-current="page" href="{% url 'home' %}"><i class="fas fa-camera-retro fa-2x"></i></a>
    </div>
    {% if request.user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <div class="text-dark navbar-brand m-1 h4">Welcome {{ request.user }}!</div>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link active text-danger" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link text-primary active h5" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary active h5" aria-current="page" href="{% url 'user-profile' user.id %}">My-Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary active h5" aria-current="page" href="{% url 'all-photos' %}">Photos-Stream</a>
            </li>
          </ul>
          <form class="d-flex" method="GET" action="{% url 'home' %}">
            <input class="form-control me-2" type="text" name="q" placeholder="Search Rooms...">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    {% else %}
        <div class="text-success navbar-brand">Rick and Jake's <br><span class="text-primary">Final Project</span></div>
    {% endif %}
  </div>
</nav>
