<div class="row row-cols-1 row-cols-md-2 g-4">
{% for room in rooms %}
  <div class="col">
    <div class="card border-dark mb-3 p-1" style="background-color: #2e3440">
        <a href="{% url 'room' room.id %}"><img class="card-img-top" src="{{ room.room_main_img.url }}" alt="img-responsive" title="Goto {{ room.name }}"></a>
      <div class="card-body">
      <h3 class="text-white" style="text-align: center">"{{ room.name }}"</h3>
      <div class="card-header bg-dark text-light">

          <h5><a href="{% url 'user-profile' room.host.id %}">@{{ room.host.username }}</a></h5>
        <p class="card-title lead">{{ room.topic.name }}</p>
      </div>
          {% if request.user == room.host %}
              <div class="d-flex-inline my-3 " >
                <a class="btn btn-primary" href="{% url 'room' room.id %}">Comment</a>
                <a class="btn btn-info" href="{% url 'update-room' room.id %}">Edit</a>
                <a class="btn btn-danger mt-auto" href="{% url 'delete-room' room.id %}">Delete</a>
              </div>
          {% else %}
              <div class="d-grid gap-2 col-10 mx-auto my-3">
                <a class="btn btn-lg btn-primary" href="{% url 'room' room.id %}">Comment</a>
              </div>
          {% endif %}

      </div>
    </div>
  </div>
{% endfor %}
</div>