{% extends 'main.html' %}
{% load static %}
{% block custom_css %}
    <!-- <link rel="stylesheet" type='text/css' href="{% static 'base/styles/cards.css' %}"> -->
{% endblock %}

{% if request.user.is_authenticated %}
    {% block content %}
        <img src="{% static 'base/images/my-banner.png' %}" class="card-img-top" alt="...">
        <div class="container my-5">
            <div class="row card shadow-sm bg-dark">
                  <h5 class="card-header text-light bg-secondary bg-gradient">Django Photo Blog</h5>
                  <div class="card-body bg-dark">
                    <h5 class="card-title text-danger">Upload your photos of your favorite topics, and share!</h5>
                    <p class="card-text text-light">Once you have created your account, you can upload your photos and share it with
                    the community. Others can comment and provide feedback on your work. Give it a topic tag for ease
                    of searching!</p>
                    <a href="{% url 'create-room' %}" class="btn btn-lg btn-primary">Share a photo!</a>
                  </div>
            </div>
            <div class="row m-5 border p-4 bg-dark shadow-sm">
              <!--<h5 class="text-light">Choose a category</h5>-->
              {% include 'base/topics_component.html' %}
              <h5 class="lead my-4"><span class="fw-bold text-light">{{ room_count }} rooms available</span></h5>
            </div>
            <div class="row m-5">
                <div class="col-lg-8 mb-5 p-2">
                    {% include 'base/feed_component.html' %}
                </div>
                <div class="col-lg-4 bg-dark">
                    {% include 'base/activity_component.html' %}
                </div>
            </div>
        </div>

    {% endblock %}
{% else %}
    <h1 class="display-6">Welcome!</h1>
    <h2 class="display-4">Login to share your photos.</h2>
{% endif %}