{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card m-5 p-1" style="width: 33%;">
    <div class="card-header bg-dark text-light lead mb-2">Upload your photo here!</div>
    <div class="card-body bg-light border">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success btn-lg m-3" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
